@font-face {
    font-family: 'Golden Varsity';
    src: url('fonts/GoldenVarsity-Regular.woff2') format('woff2'),
        url('/fonts/GoldenVarsity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: black;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.sidebar {
   color: white;
   position: relative;
   min-height: 100vh;
   overflow: hidden;
   min-width: 250px;
}

.sidebar .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
    background-color: #0000002a;
    padding: 5px;
    
    position: absolute;
    inset-block-start: 250px;
    left: 0px;
    width: 100%;
}

.sidebar .banner p {
    font-family: "Golden Varsity", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

.sidebar .banner img {
    width: 100px;
}

.sidebar > p {
    position: absolute;
    inset-block-start: 920px;
    left: 5px;
}

.sidebar a {
    color: grey;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 450px;

    background-color: gainsboro;
    padding: 150px 50px;
}

main .title p {
    max-width: 55ch;
    font-size: 20px;
    font-weight: bold;
}

.sign-up-form .inputs {
    display: flex;
    gap: 50px;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input {
    appearance: none;
}

label {
    display: block;
    font-size: 14px;
}

.sign-up-form .row {
    margin-bottom: 40px;
}

.sign-up-form input {

}

.sign-up-form .column-1 {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}